<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"empresagi","environment":"producao"}</customFields>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>
